$col: white;
$colO30: rgba(255, 255, 255, 0.3);
$colO50: rgba(255, 255, 255, 0.5);
$colO70: rgba(255, 255, 255, 0.7);
$bg: black;
$bgO30: rgba(0, 0, 0, 0.3);
$bgO50: rgba(0, 0, 0, 0.5);
$bgO85: rgba(0, 0, 0, 0.85);
$bgHover: rgb(241, 8, 66);
$bgHover: rgb(121, 2, 32);
$bgHoverO30: rgba(241, 8, 66, 0.3);
$bgHoverO50: rgba(241, 8, 66, 0.5);
$bgHoverO85: rgba(241, 8, 66, 0.85);
$bgHover_3: rgb(0, 36, 39);
$bgHover_3O50: rgba(0, 36, 39,.5);
// $bgHover_2: rgb(121, 2, 32);
$bgHoverO30_2: rgba(0, 36, 39, .3);
$bgHoverO50_2: rgba(0, 36, 39, .5);
$bgHoverO85_2: rgba(0, 36, 39, .85);
// Yellow Palete
$colDark: #0E1F26;
$lightYellow: #F2D888;
$yellow: #F2B705;
$bgHover_2: #BF7E04;
$bgHover_2O50: rgba(191, 126, 4, 0.5);
// $bgHover_2: rgb(4, 101, 191);
// $bgHover_2O50: rgba(4, 101, 191, 0.5);

$fontFamilyTitle:'Fredericka the Great', cursive;
// $col: #D9C5B4;
// @import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Fredericka+the+Great|Lato:300,400,700|Parisienne&amp;subset=latin-ext" )

