@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
#root{
  overflow-x: hidden;
}

li{
  list-style: none;
}