@import '_colors';
// @import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet');
@media(min-width: 1024px){
.firstHeader{
    display: none;
}
.mainMenu{
    position: fixed;
    // top: 5vh;
    display: flex;
        flex-direction:row;
    border-radius:none;
    justify-content: center;
    width: 100%;
    background: $bg;
    z-index: 5;

}
.mainMenu__item{
    padding: 20px;
    color: $col;
    cursor: pointer;
    transition: all .3s ease-in-out;
    letter-spacing: 1px;
    border-bottom: 2px solid $bg;
    &:hover{
        background: $bgHover_2;
        border-bottom: 2px solid $bgHover_2;
    }
}
.mainMenu__item.active{
    background: $bgHover_2O50;
    border-bottom: 2px solid $bgHover_2;
    cursor: auto;
    
}
.mainMenu__item--CV{
    position: absolute;
    top:0;
    right: 0;
    border-radius: 5px;
    // font-family: 'Dancing Script', cursive;
    font-weight: 300;
    color: $col;
    padding: 10px;
    border: 10px solid $bg;
    background: $bgHover_2O50;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        background: $bgHover_2;  
    }
}
.menuCircles{
    display: none;
    position: fixed;
    right: 20px;
    top: 40%;
}
.circle{
    padding: 5px;
    border: 2px solid $bg;
    margin: 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover{
        background: $bg;
    }
}
.circle.active{
    background: $bg;
    // border-color: $bgHover_2;
    box-shadow: 0 0 0 10px bgHover_2;
}
}
@media(orientation:portrait),(max-width: 1050px){
    .firstHeader{
        position: fixed;
        display: flex;
        background: $bg;
        color: $col;
        padding: 10px;
        padding-right: 20px;
        width: 100vw;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
    .firstHeader--myName{
        // position: absolute;
        color: $col;
        font-family: 'Fredericka the Great', cursive;
        padding-left: 20px;

    }
    .mainMenuMobile{

        position: fixed;
        top: 10vh;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 90vh;
        background: $bg;
        z-index: 5;
        animation: changeColor 5s infinite;
        // transform: translateX(-100%);
        // border-bottom-right-radius: 30px;
    
    }
    .menuFont{
        padding-right: 20px;
        color: $col;
    }
    .mainMenu{
        display: none;
    }
    .mainMenu__item{
        padding: 20px;
        color: $col;
        cursor: pointer;
        transition: all .3s ease-in-out;
        letter-spacing: 1px;
        border-bottom: 2px solid transparent;
        text-align: center;
        
        &:hover{
            background: $bgHover_2;
            border-bottom: 2px solid $bgHover_2;
        }
    }
    .mainMenu__item.active{
        background: $bgHover_2;
        border-bottom: 2px solid $bgHover_2;
        cursor: auto;
        
    }
    .mainMenu__item--me{
        display: none;
        font-family: 'Dancing Script', cursive;
        font-weight: 400;
        color: $col;
    }
    .menuCircles{
        display: none;
        position: fixed;
        right: 20px;
        top: 40%;
    }
    .circle{
        padding: 5px;
        border: 2px solid $bg;
        margin: 10px;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        cursor: pointer;
        &:hover{
            background: $bg;
        }
    }
    .circle.active{
        background: $bg;
        // border-color: $bgHover_2;
        box-shadow: 0 0 0 10px bgHover_2;
    }
}
@keyframes changeColor{
    0%,100%{
        background: $bgHover_4;
    }
    50%{
        background: $bg;
    }
    
}


